@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a
}
body{
    background-color: #c0eae9;
}
#synonym-root{
    height: 100%;
}
::placeholder { 
    font-style: italic;
    color: #a7a7a7;
    opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
    color: #a7a7a7;
}
.hiddenRow {
    padding: 0 !important;
}
.w-30{
    width: 30%
}
.content-view .standard-input{
    border: 1px solid #00a4ae;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    transition: all 0.2s ease;
}
.content-view .input-wrapper:hover .search-input,
.content-view .input-wrapper:focus .search-input,
.content-view .input-wrapper:hover svg,
.content-view .input-wrapper:focus svg{
    transform: scale(1.025)
}
.content-view .input-icon svg{
    transition: all 0.2s ease;
}
.content-view .input-wrapper:hover .input-icon svg,
.content-view .input-wrapper:focus .input-icon svg{
    left: 5px;
}
.main-view-wrapper .header-wrapper,
.main-view-wrapper .footer-wrapper{
    background-color: #00a4ae;
    color: #f2f2f2
}
.main-view-wrapper .header-wrapper .logo-wrapper .logo{
    width: 50px
}
.main-view-wrapper .header-wrapper .admin-box .admin-button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 12px;
    margin-right: 5px;
    transition: all 0.2s ease;
    font-size: 0.85rem;
    outline: none;
    width: 120px
}
.main-view-wrapper .header-wrapper .admin-box .admin-button:hover{
    background: #00828a;
}
.content-view{
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    width: 50%;
    align-self: center
}
.content-view .search-box{
    background-color: #00a4ae;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 68px
}
.content-view .search-box .controls-wrapper{
    color: #fff
}
.content-view .search-box .controls-wrapper .source-label{
    font-size: 0.8rem;
    font-style: italic;
    margin-right: 15px
}
.content-view .search-box .controls-wrapper .source-box .btn-group .btn{
    font-size: 0.8rem;
    height: 32px;
    padding: 6px 12px;
    line-height: 18px;
    margin-right: 0px;
    margin-top: 3px;
    outline: none;
    box-shadow: none;
    color: #777    
}
.content-view .search-box .controls-wrapper .source-box .btn-group .btn:hover{
    color: #333
}
.content-view .search-box .controls-wrapper .source-box .btn-group .btn.active{
    background: #00828a;
    color: #fff
}
.content-view .search-box .loop-icon{
    width: 40px;
    height: 35px;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0px;
    fill: #00a4ae;
    outline: 0;
}
.content-view .search-box .loop-icon svg{
    width: 18px;
    height: 18px;
    top: 0px;
    position: relative;
    left: 0px;
}
.content-view .search-box .std-label {
    font-size: 1rem;
}
.content-view .search-box .std-label.white{
    color: #fff
}
.content-view .search-box .layout-control{
    position: relative;
    top: 5px;
    right: -5px;
}
.content-view .search-box .layout-button{
    background: transparent;
    background-color: transparent;
    outline: 0;
    width: 28px;
    height: 28px;
    border: 1px solid transparent;
    margin: 0
}
.content-view .search-box .layout-button svg{
    width: 24px;
    height: 24px;
    fill: #d6d6d6
}
.content-view .search-box .layout-button.active svg,
.content-view .search-box .layout-button:hover svg{
    fill:#fff
}
.content-view .search-box .layout-button.cards-layout svg{
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    left: -1px;
}
.content-view .search-box .layout-button.table-layout svg{
    position: relative;
    top: -1px;
    left: -5px;
}
.content-view .search-box .add-synonym-field-box .standard-input{
    font-size: 0.7rem
}
.content-view .search-box .add-synonym-field-box .link-button{
    float: left;
    background: none;
    border: 0;
    color: #fff;
    font-size: .75rem;
    width: auto;
    text-align: left;
    clear: both;
    outline: none
}
.content-view .search-box .add-synonym-field-box .link-button:hover{
    text-decoration: underline
}
.content-view .search-box .add-synonym-wrapper{
    height: 28px;
    transition: all 0.3s ease;
}
.content-view .search-box .add-synonym-wrapper input,
.content-view .search-box .add-synonym-wrapper button{
    opacity: 1;
    transition: all 0.3s ease;
}
.content-view .search-box .add-synonym-wrapper.hide-box{
    height: 0;
    overflow: hidden;
}
.content-view .search-box .add-synonym-wrapper.hide-box input,
.content-view .search-box .add-synonym-wrapper.hide-box button{
    opacity: 0;
}
.content-view .result-wrapper{
    position: relative;
    height: calc(100% - 95px);
    min-height: 120px
}
.content-view .result-wrapper .no-results{
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.content-view .result-wrapper .no-results .alert-text-row{
    margin-bottom: 15px
}
.content-view .result-wrapper .no-results .alert-text-row .alert-syn-word{
    font-weight: bold;
    text-decoration: underline
}
.content-view .add-syn-btn{
    background: #00a4ae;
    border: 1px solid #fff;
    padding: 6px 12px;
    color: #fff;
    border-radius: 0;
    left: -70px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: .7rem;
    height: 26px;
    line-height: 14px;
    width: 70px;
    top: 1px
}
.content-view .add-syn-btn:hover{
    background-color:#00828a
}
.content-view .add-syn-btn:disabled{
    background-color:#ccc;
    border:1px solid #ccc;
    border-left: 0;
    cursor: not-allowed;
}
.content-view .result-wrapper .no-results .add-syn-btn:disabled{
    border:1px solid #00a4ae;
}
.content-view .result-wrapper .no-results .add-syn-btn{
    font-size: .9rem;
    height: 36px;
    line-height: 26px;
    border: 0;
    top: 0
}
.content-view .syn-approved-message,
.content-view .syn-added-message{
    font-size: 0.9rem;
    top: 0;
    left: 0;
    width: 80%;
    left: 10%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 99999;
}
.content-view .result-wrapper .accordion>.card>.card-header{
    cursor: pointer;
}
.content-view .result-wrapper .accordion>.card{
    border-radius: 0 !important
}
.content-view .result-wrapper .accordion>.card.first-level-results{
    border-bottom: 0
}
.content-view .result-wrapper .result-title{
    color: #00a4ae;
    font-size: 1.35rem;
    text-transform: uppercase;
}
.content-view .result-wrapper .result-title .results-number{
    font-size: 0.65em;
    text-transform: none;
    position: relative;
    top: 5px;
    right: 0;
}
.content-view .result-wrapper .synonyms-items{
    list-style: none;
    padding: 0;
    margin: 0
}
.content-view .result-wrapper .synonyms-items .word-item{
    padding: 0;
    width: auto;
    float: left;
}
.content-view .result-wrapper .synonyms-items .word-item button{
    font-size: 0.9rem;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    width: auto;
    float: left;
    cursor: pointer;
    padding: 5px 12px;
    border: 0;
    outline: none
}
.content-view .result-wrapper .synonyms-items .word-item button:hover,
.content-view .result-wrapper .synonyms-items .word-item button:focus{
    text-decoration: none
}
.content-view .result-wrapper .second-level-results .card-header .result-title.no-results{
    color: #ccc
}
.content-view .result-wrapper .second-level-results .synonyms-items .word-item button{
    background-color: #6c757d
}
.content-view .result-wrapper .result-set{
    color: #333
}
.content-view .result-wrapper .result-set thead{
    color: #444
}
.content-view .result-wrapper .result-set tr.accordion-toggle{
    cursor: pointer;
}
.content-view .result-wrapper .result-set tbody tr:hover,
.content-view .result-wrapper .result-set tbody tr:focus{
    background-color: #00a4ae
}
.content-view .result-wrapper .result-set tbody tr:hover,
.content-view .result-wrapper .result-set tbody tr:focus{
    color: #fff
}
.content-view .result-wrapper .result-set .accordian-body{
    background-color:#f2f2f2;
    padding-left: 9% !important
}
.content-view .result-wrapper .result-set .accordian-body{
    color: #3a3a3a
}
.content-view .result-wrapper .result-set .controls svg{
    width: 14px;
    height: 14px;
    fill: #6d6d6d
}
.content-view .result-wrapper .result-set tr:hover .controls svg,
.content-view .result-wrapper .result-set tr:focus .controls svg{
    fill: #fff
}
.content-view .result-wrapper .result-set tr.accordion-toggle[aria-expanded="false"] .icon-expand,
.content-view .result-wrapper .result-set tr.accordion-toggle[aria-expanded="true"] .icon-collapse{
    display: inline-block
}
.content-view .result-wrapper .result-set tr.accordion-toggle[aria-expanded="true"] .icon-expand,
.content-view .result-wrapper .result-set tr.accordion-toggle[aria-expanded=false] .icon-collapse{
    display: none
}
.admin-view-wrapper .admin-heading{
    color: #fff;
    background-color: #00a4ae;
}
.admin-view-wrapper .approve-button{
    font-size: 0.8rem;
    padding: 4px 10px;
    outline: none
}
.admin-view-wrapper .num-of-approval{
    font-size: 0.85rem;
    font-style: italic;
    position: relative;
    top: 5px
}
/* Spinner */
@keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
}
  
.spinner-border {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
    color: #00a4ae;
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}
.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
   
}
@media (max-width: 1199.98px) { 
    .content-view{
        width: 80%;
    }
}